:root{
    --ancho:900px;
}
#contenedor{
    text-align: center;
    width: var(--ancho);
    margin: auto;
    display:grid;
    grid-template-areas:
        'a a2 a3 a4 a5 a6 a7 a8 a9'
        'b1 b1 b1 b1 b1 b1 b2 b2 b2'
        'c c c c c2 c2 c2 c2 c2'
        'd d d d d d d d d'
        'e e e e1 e1 e1 e2 e2 e2'
        'f f1 f2 f3 f4 f5 f6 f7 f8';
    grid-template-rows: 200px 300px 400px 200px 150px 200px;
    border:1px black solid;
}
.a{
    grid-area: a;
    background-color: blue;
    color: white;
}
.a2{
    grid-area: a2;
    background-color: red;
}
.a3{
    grid-area: a3;
    background-color: gray;
}
.a4{
    grid-area: a4;
    background-color: blue;
}
.a5{
    grid-area: a5;
    background-color: red;
}
.a6{
    grid-area: a6;
    background-color: gray;
}
.a7{
    grid-area: a7;
    background-color: blue;
    color: white;
}
.a8{
    grid-area: a8;
    background-color: red;
}
.a9{
    grid-area: a9;
    background-color: gray;
}
.b1{
    grid-area: b1;
    background-color:black;
    color: white;
}
.b2{
    grid-area: b2;
    background-color: gold;
}
.c{
    grid-area: c;
    background-color: red;
}
.c2{
    grid-area: c2;
    background-color: blue;
}
.d{
    grid-area: d;
    background-color: aquamarine;
}
.e{
    grid-area: e;
    background-color: gold;
}
.e1{
    grid-area: e1;
    background-color: black;
    color: white;
}
.e2{
    grid-area: e2;
    background-color: gold;
}
.f{
    grid-area: f;
    background-color: blue;
}
.f1{
    grid-area: f1;
    background-color: red;
}
.f2{
    grid-area: f2;
    background-color: gray;
}
.f3{
    grid-area: f3;
    background-color: blue;
}
.f4{
    grid-area: f4;
    background-color: red;
}
.f5{
    grid-area: f5;
    background-color: gray;
}
.f6{
    grid-area: f6;
    background-color: blue;
}
.f7{
    grid-area: f7;
    background-color: red;
}
.f8{
    grid-area: f8;
    background-color: gray;
}
